<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <title>Let.Me.Practice. - A platform for SYJC students of Mumbai University to give online IT Tests</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= render partial: 'shared/analytics' %>
</html>
